<!DOCTYPE html>
<html>
    <head>
        <title>Trender-comments</title>
        <link rel="stylesheet" href="/assets/mystyles.css">        
    </head>
    <body>
        <nv>
            <nvli style="float: left;"><a class=active href="index.php">Home</a></nvli>
            <% 
                if (!user)
                {%>
                    <nvli><a href="/auth/signup">Sign up</a></nvli>
                    <nvli><a href="/auth/login">Login</a></nvli>';
                <%}
                else
                {%>
                    <nvli><a href="/auth/logout">Logout</a></nvli>
                    <nvli><a href="/user/post">Post</a></nvli>
                    <nvli><a href="/user/viewposts/0">View Posts</a></nvli>
                    <nvli><a class=active href="/profile"><%= user.username %></a></nvli>';
                <%}
            %>
        </nv>
        <div class="mainbox">
            <div class="subbox">
                    
                <div class="picbox">
                        <div class="postflexbox">
                            <table>
                                <tr>
                                    <td colspan=2><img src="<%=post.image%>" class="postimages" </td>
                                </tr>
                                <tr>
                                    <td><%=post_creator%></td>
                                </tr>
                                <tr>
                                    <td><%=post.likes.length%> <a href="/user/commentnlike/<%= post._id %>/like">Likes</a></td>
                                    <td><%=post.comments.length%> Comments</td>
                                </tr>
                            </table>
                        </div>
                        <div class="commentflexbox">
                            <form action="/user/commentnlike/<%= post._id %>/comment" method=POST id="commentform" accept-charset="UTF-8">
                                    <table class=table>
                                            <tr>
                                                <td><h3>Comment</h3></td>
                                                <td><textarea rows="3" cols="50" name="comment_text" form="commentform" required placeholder="Hey, say something :D (max chars:255)"></textarea></td>
                                            </tr>
                                            <tr>
                                               <td><button type="submit" name="submit" required>post comment</button></td>
                                           </tr>
                                    </table>
                            </form>
                        </div>';
                        <div class="commentflexbox" style="height:650">
                        <% for(i = 0; post.comments[i]; i++){
                            %><div class="commentflexbox" style="height:50px ; width:90%; background-color: #EEEEEE;">
                                <%=names[i]%> : <%=post.comments[i].comment%>
                            </div>
                            <%}%>
                        </div>
                </div>
            </div>   
        </div>
    </body>
</html>