<!DOCTYPE html>
<html>
    <head>
        <title>Trender-Gallery</title>
        <link rel="stylesheet" href="/assets/mystyles.css">        
    </head>
    <body>
        <nv>
            <nvli style="float: left;"><a class=active href="index.php">Home</a></nvli>
            <% 
                if (!user)
                {%>
                    <nvli><a href="/auth/signup">Sign up</a></nvli>
                    <nvli><a href="/auth/login">Login</a></nvli>';
                <%}
                else
                {%>
                    <nvli><a href="/auth/logout">Logout</a></nvli>
                    <nvli><a href="/user/post">Post</a></nvli>
                    <nvli><a href="/user/viewposts/0">View Posts</a></nvli>
                    <nvli><a class=active href="/profile"><%= user.username %></a></nvli>';
                <%}
            %>
        </nv>
        <div class="mainbox">
            <div class="subbox">
                <%
                        var nextpage = page + 1;
                        var prevpage = page - 1;
                    %>
                    <div class="columnflexbox">
                    <%
                        for(i = 0; posts[i]; i++) { %>
                            <div class="postflexbox">
                                    <img src=<%= posts[i].image %>>
                                    <div class="postoptionsflexbox">
                                        <options><flextext><a href="/user/commentnlike/<%= posts[i]._id %>/view">comments and like</a></flextext></options>
                                    </div>
                            </div>
                        <% }
                    %>

                            <div class="postoptionsflexbox">
                                
                                <options><flextext><a href=/gallery/0>First</a></flextext></options>
                                <options><flextext><a href=/gallery/<%=prevpage%>>Back</a></flextext></options>
                                <options><flextext><%=page%></flextext></options>
                                <options><flextext><a href=/gallery/<%=nextpage%>>next</a></flextext></options>
                            </div>
                    </div>
            </div>
            </div>   
        </div>
    </body>
</html>